.micromodal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.micromodal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.micromodal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 700px;
  width: 100%;
  max-height: 90vh;
  border-radius: 4px;
  box-sizing: border-box;
}

.micromodal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.micromodal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600!important;
  font-size: 1.25rem!important;
  line-height: 1.25;
  color: #333;
  box-sizing: border-box;
}

.micromodal__close {
  background: transparent;
  border: 0;
}

.micromodal__header .micromodal__close:before { content: "\2715"; }

.micromodal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70vh;
}

.micromodal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  line-height: 40px;
}

.micromodal__btn:focus, .micromodal__btn-primary:hover {
  color: #00b9eb!important;
}

.micromodal__btn-primary {
  background-color: #2f353a;
  color: #fff;
}
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .micromodal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .micromodal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .micromodal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .micromodal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .micromodal__container,
.micromodal-slide .micromodal__overlay {
  will-change: transform;
}
#admin-modal .ck.ck-content {
  max-height: 400px;
}