<div class="row">
    <div class="col-md-12">
        <div class="card w-100">
            <div class="card-header">
                <div class="form-group row mb-0">
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <select class="form-control mb" id="app-category">
                            {% for id, category in categories %}
                                <option value="{{ id }}" {% if app.request.get('category') == id %}selected="selected"{% endif %}>
                                    {{ category | trans }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <select class="form-control" id="app-sort">
                            <option value="installed"
                                    {% if app.request.get('sort') == 'installed' %} selected="selected"{% endif %}>
                                {{ 'zentlix_main.marketplace.sort.popular' | trans }}
                            </option>
                            <option value="title" {% if app.request.get('sort') == 'title' %} selected="selected"{% endif %}>
                                {{ 'zentlix_main.marketplace.sort.title' | trans }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>