{% if not row.system %}
    <a href="#" data-toggle="modal" data-target="#delete-bundle-confirm"
       class="btn btn-danger btn-sm float-right delete-bundle-btn" data-bundle-id="{{ row.id }}">
        {{ 'zentlix_main.delete' | trans }}
    </a>
{% endif %}