<a href="{{ path('admin.bundle.update', {'id': row.id}) }}" title="{{ 'zentlix_main.bundle.settings' | trans }}" class="item-title">
    {{ row.title | trans }}<br>
    <small>{{ row.description | trans }}</small>
</a>