{% extends '@MainBundle/admin/layouts/base.html.twig' %}

{% block title %}{{ 'zentlix_main.control_panel' | trans }}{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active">{{ 'zentlix_main.control_panel' | trans }}</li>
{% endblock %}

{% block body %}
  <div class="row">
    {{ admin_dashboard_widgets() }}
  </div>
{% endblock %}