<!doctype html>
<html>
<head>
  <base href="./backend/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Content management system - Zentlix">
  <link rel="shortcut icon" href="/zentlix/main-bundle/admin/dist/assets/favicon.png">
  <title>Zentlix</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/zentlix/main-bundle/admin/dist/styles.818bf2b0d0fe1d031283.css"></head>
<body class="app">
<!-- App Loading... -->
<script src="/zentlix/main-bundle/admin/dist/runtime.2b01eabc925807d423fa.js" defer></script><script src="/zentlix/main-bundle/admin/dist/polyfills-es5.9e00afbae2a23dfc6981.js" nomodule defer></script><script src="/zentlix/main-bundle/admin/dist/polyfills.54ce882d3e1b3fd81c67.js" defer></script><script src="/zentlix/main-bundle/admin/dist/scripts.8cc7f9d5328afca70c9d.js" defer></script><script src="/zentlix/main-bundle/admin/dist/vendor.77d2d0fe544d3afb9f91.js" defer></script><script src="/zentlix/main-bundle/admin/dist/main.85e56e8e7bcddc92f7ea.js" defer></script></body>
</html>