<!doctype html>
<html>
<head>
  <base href="./backend/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Content management system - Zentlix">
  <link rel="shortcut icon" href="/zentlix/main-bundle/admin/dist/assets/favicon.png">
  <title>Zentlix</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/zentlix/main-bundle/admin/dist/styles.f527b218345df64f1358.css"></head>
<body class="app">
<!-- App Loading... -->
<script src="/zentlix/main-bundle/admin/dist/runtime.29c3ff7eca25692311cc.js" defer></script><script src="/zentlix/main-bundle/admin/dist/polyfills-es5.b082beb18486afe0706a.js" nomodule defer></script><script src="/zentlix/main-bundle/admin/dist/polyfills.7e274e89e9cba8fcec8a.js" defer></script><script src="/zentlix/main-bundle/admin/dist/scripts.8cc7f9d5328afca70c9d.js" defer></script><script src="/zentlix/main-bundle/admin/dist/vendor.7cf28dd526a4f10d32e9.js" defer></script><script src="/zentlix/main-bundle/admin/dist/main.9cf6c420e2a7f7a46a4d.js" defer></script></body>
</html>